<div class="register-wrap">
    <div class="register-card">
        <p class="logo">E·Booking</p>

        <div class="role-pill" [ngClass]="role">
            <mat-icon>{{ isPro ? 'work' : 'person_outline' }}</mat-icon>
            Espace {{ roleLabel }}
        </div>

        <h2>Créer un compte</h2>
        <p class="sub">Remplissez les informations ci-dessous</p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

            <div class="row-2">
                <div class="field">
                    <label for="prenom">Prénom</label>
                    <div class="input-wrap">
                        <mat-icon>person_outline</mat-icon>
                        <input id="prenom" type="text" formControlName="prenom" placeholder="Jean" [ngClass]="role" />
                    </div>
                    @if (form.get('prenom')?.hasError('required') && form.get('prenom')?.touched) {
                    <span class="field-error">Prénom requis</span>
                    }
                    @if (form.get('prenom')?.hasError('minlength') && form.get('prenom')?.touched) {
                    <span class="field-error">2 caractères min.</span>
                    }
                </div>

                <div class="field">
                    <label for="nom">Nom</label>
                    <div class="input-wrap">
                        <mat-icon>badge</mat-icon>
                        <input id="nom" type="text" formControlName="nom" placeholder="Dupont" [ngClass]="role" />
                    </div>
                    @if (form.get('nom')?.hasError('required') && form.get('nom')?.touched) {
                    <span class="field-error">Nom requis</span>
                    }
                </div>
            </div>

            <div class="field">
                <label for="email">Adresse email</label>
                <div class="input-wrap">
                    <mat-icon>mail_outline</mat-icon>
                    <input id="email" type="email" formControlName="email" placeholder="vous@exemple.fr"
                        [ngClass]="role" />
                </div>
                @if (form.get('email')?.hasError('required') && form.get('email')?.touched) {
                <span class="field-error">Email requis</span>
                }
                @if (form.get('email')?.hasError('email') && form.get('email')?.touched) {
                <span class="field-error">Email invalide</span>
                }
            </div>

            <div class="field">
                <label for="motDePasse">Mot de passe</label>
                <div class="input-wrap">
                    <mat-icon>lock_outline</mat-icon>
                    <input id="motDePasse" [type]="hidePassword ? 'password' : 'text'" formControlName="motDePasse"
                        placeholder="8 caractères minimum" [ngClass]="role" />
                    <button type="button" class="eye-btn" (click)="hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </div>
                @if (form.get('motDePasse')?.hasError('required') && form.get('motDePasse')?.touched) {
                <span class="field-error">Mot de passe requis</span>
                }
                @if (form.get('motDePasse')?.hasError('minlength') && form.get('motDePasse')?.touched) {
                <span class="field-error">8 caractères minimum</span>
                }
            </div>

            <div class="field">
                <label for="confirmation">Confirmer le mot de passe</label>
                <div class="input-wrap">
                    <mat-icon>lock_reset</mat-icon>
                    <input id="confirmation" [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmation"
                        placeholder="••••••••" [ngClass]="role" />
                    <button type="button" class="eye-btn" (click)="hideConfirm = !hideConfirm">
                        <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </div>
                @if (form.get('confirmation')?.touched && form.hasError('mismatch')) {
                <span class="field-error">Les mots de passe ne correspondent pas</span>
                }
            </div>

            <button id="btn-submit" type="submit" class="btn-submit" [ngClass]="role" [disabled]=" form.invalid || loading">
                @if (loading) {
                <mat-spinner diameter="18"></mat-spinner>
                } @else {
                Créer mon compte
                <mat-icon>arrow_forward</mat-icon>
                }
            </button>
        </form>

        <div class="footer-links">
            <p>Déjà inscrit ? <a routerLink="/login" [ngClass]="role">Se connecter</a></p>

            @if (isPro) {
            <p class="switch">Vous êtes un client ?
                <a routerLink="/register/client" class="client">Inscription Client →</a>
            </p>
            } @else {
            <p class="switch">Vous êtes un pro ?
                <a routerLink="/register/pro" class="pro">Inscription Pro →</a>
            </p>
            }
        </div>
    </div>
</div>